<%
  anchor ||= nil
  pagination_params ||= {}
%>
<div class="pagination">
  <% if paginated.total_pages > 1 %>
    <div class="links">
      <span class="link">
        <%= link_to_unless((paginated.current_page == 1),
                           "First",
                           {
                             page: 1,
                             anchor: anchor
                           }.merge(pagination_params),
                           class: :first_page_link) %>
      </span>
      <span class="link">
        <%= link_to_if(paginated.previous_page,
                       "Previous",
                       {
                         page: paginated.previous_page,
                         anchor: anchor
                       }.merge(pagination_params),
                       class: :prev_page_link) %>
      </span>
      <span class="link">
        <%= link_to_if(paginated.next_page,
                       "Next",
                       {
                         page: paginated.next_page,
                         anchor: anchor
                       }.merge(pagination_params),
                       class: :next_page_link) %>
      </span>
      <span class="link">
        <%= link_to_unless((paginated.current_page == paginated.total_pages),
                           "Last",
                           {
                             page: paginated.total_pages,
                             anchor: anchor
                           }.merge(pagination_params),
                           class: :last_page_link) %>
      </span>
    </div>
  <% end %>
  Page <%= paginated.current_page %>/<%= paginated.total_pages %>
</div>
