<% anchor ||= nil
  pagination_params ||= {}

  # Solr results have offset, while ARel results need offset_value
  offset = paginated.respond_to?(:offset_value) ? paginated.offset_value : paginated.offset %>

<div class="pagination">
  <% if paginated.total_pages > 1 %>
    <div class="links">
      <%# Previous page %>
      <span class="prev_page">
        <% if paginated.previous_page %>
          <%= link_to({ page: paginated.previous_page,
                        anchor: anchor }.merge(pagination_params),
                      class: "prev_page_link") do %>
            <i class="icon icon-chevron-left"></i>
            Prev
          <% end %>
        <% else %>
          <i class="icon icon-chevron-left"></i>
          Prev
        <% end %>
      </span>

      <%# Page numbers %>
      <% if np = nearest_pages(paginated) %>
        <% if np.first > 1 %>
          <span class="first_page">
            <% if paginated.current_page == 1 %>
              1
            <% else %>
              <%= link_to("1",
                          { page: 1, anchor: anchor }.merge(pagination_params),
                          class: "first_page_link") %>
            <% end %>
          </span>
        <% end %>
        <% if np.first > 2 %>
          <span class="ellipsis"> &hellip; </span>
        <% end %>
        <% np.each do |np| %>
          <span class="number_page">
            <% if paginated.current_page == np %>
              <%= np %>
            <% else %>
              <%= link_to(np,
                          { page: np, anchor: anchor }.merge(pagination_params),
                          class: "number_page_link") %>
            <% end %>
          </span>
        <% end %>
        <% if np.last < (paginated.total_pages - 1) %>
          <span class="ellipsis"> &hellip; </span>
        <% end %>
        <% if np.last < paginated.total_pages %>
          <span class="last_page">
            <% if paginated.current_page == paginated.total_pages %>
              <%= paginated.total_pages %>
            <% else %>
              <%= link_to(paginated.total_pages,
                          { page: paginated.total_pages,
                            anchor: anchor }.merge(pagination_params),
                          class: "last_page_link") %>
            <% end %>
          </span>
        <% end %>
      <% end %>

      <%# Next page %>
      <span class="next_page">
        <% if paginated.next_page %>
          <%= link_to({ page: paginated.next_page,
                        anchor: anchor }.merge(pagination_params),
                      class: "next_page_link") do %>
            Next
            <i class="icon icon-chevron-right"></i>
          <% end %>
        <% else %>
          Next
          <i class="icon icon-chevron-right"></i>
        <% end %>
      </span>
    </div>
  <% end %>

  <div class="items">
    <span class="shown_items"><%= offset + 1 %></span> to
    <span class="shown_items_count"><%= offset + paginated.length %></span> of
    <span class="total_items_count"><%= paginated.total_count %></span>
  </div>
</div>
